@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/LoginCSS.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaf1554704.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="layout-account">
        <div class="container breadcrumb-shop">
            <div>
                <a href="/">
                    <span>Trang chủ</span>
                </a>
                <i class="fa fa-solid fa-angles-right" aria-hidden="true"></i>
                <span>Tài khoản</span>
                <i class="fa fa-solid fa-angles-right" aria-hidden="true"></i>
                <span>Đăng nhập</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="form-account border border-1 mb-5">
                        <div class="header-page">
                            <h3>Đăng nhập</h3>
                        </div>
                        <div class="form-login">
                            <form class="user" method="post"
                                  style="padding-top: 24px">
                                <div class="form-group mb-4">
                                    <input type="email" name="email" class="form-control form-control-user" placeholder="Nhập Email của bạn...">
                                </div>
                                <div class="form-group mb-4">
                                    <input type="password" name="password" class="form-control form-control-user" id="InputPassword" placeholder="Nhập mật khẩu">
                                </div>
                                <p style="color: red;">
                                    @ViewBag.erorMessage
                                </p>
                                <button type="submit" class="btn btn-primary">
                                    Đăng nhập
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-account border border-1 mb-5">
                        <div class="header-page">
                            <h3>Tạo tài khoản</h3>
                        </div>
                        <p style="margin: 10px 0">
                            Đăng kí tài khoản miễn phí. Thủ tục đăng kí nhanh chóng và đơn giản.
                            Nó cho phép bạn có thể đặt hàng từ cửa hàng của chúng tôi. Để bắt đầu mua sắm bấm đăng ký.
                        </p>
                        <button type="submit" href="@Url.Action("Register", "User")" class="btn btn-primary">
                            Đăng ký
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

