@font-face {
    font-family: 'Quicksand';
    src: url(/AppData/Font/Quicksand-Regular.ttf) format('truetype');
}

* {
    font-family: 'Quicksand', sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

main {
    background: #f5f5f5;
}

.primary-color {
    color: #FF5800;
}

.fa {
    font-family: 'FontAwesome' !important;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

    a:hover {
        color: #ff5800;
        text-decoration: none;
        outline: none;
    }

img {
    max-width: 100%;
}

.mbt-35 {
    margin: 35px 0;
}

.p-15-26 {
    padding: 15px 26px;
}

/*BREADCRUMB*/
.breadcrumb-shop {
    padding: 10px 0;
    margin: 0;
}

.product-media .p-sale {
    position: absolute;
    left: 0;
    background: #FF5800;
    width: 48px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    color: #fff;
}

.product-detail h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}

.product-detail .sku  {
    margin-bottom: 6px;
    font-weight: 500;
    color: #222;
}

.product-price {
    margin: 30px 0;
}

.product-price span {
    
    color: #ff5800;
    font-size: 24px;
    padding: 0 5px 0 0;
    font-weight: 600;
}

.product-price del {
    color: #999;
    font-size: 14px;
    margin-left: 15px;
}

/*PRODUCT DETAIL*/
.product-des .tab-title-content {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 10px;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.product-des-content table tr td:first-child {
    padding-left: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.product-des-content table tr td:last-child {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}