@model IEnumerable<DoAn.Models.Publisher>

@{
    ViewBag.Title = "Danh sách nhà sản xuất";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold"
            style="float: left;
                   color: #4e73df;
                   font-size: 16px">
            Danh sách nhà sản xuất
        </h6>
        <a href="~/Admin/Publisher/AddNew"
           style="float: right;
                  color: #4e73df">
            Thêm mới
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th style="text-align: center">ID</th>
                    <th>
                        Tên nhà sản xuất
                    </th>
                    <th style="text-align: right;">Thao tác</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@item.Publisher_ID</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher_Name)
                        </td>
                        <td style="text-align: right">
                            <a href="~/Admin/Publisher/Update?Publisher_ID=@item.Publisher_ID">Update</a> |
                            <a href="~/Admin/Publisher/Delete?Publisher_ID=@item.Publisher_ID">Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
